<div>
	<!-- <div class="ub chart" style="height:1.5rem;">
		<div id="chart1"  class="" style="width:50%">
		</div>
		
		<div id="chart2"  style="width:50%">
		</div>
	</div> -->
	<div class="main umar-t">
	   <div class="main-left ub ub-ver">
	     <div class="box1 ub ub-ac ub-pc">
	       <div class="icon ub ub-img icon-img1 "></div>
	       <span class="f1">工单系统</span> <span class="f2">工单数</span>
	     </div>
	     	<div class="box2 ub  ub-img ub-ac ub-pc">
	     		 <div class="box3" id="order_num">999</div>
	     	</div>
	     <span class="f3">条</span>  
	   </div>
	   <div class="main-right">
	     <div class="box1 ub ub-ac ub-pc">
	       <div class="icon ub ub-img icon-img1"></div>
	       <span class="f1">工单系统</span> <span class="f2">回单率</span>
	     </div>
	     <!-- <div class="box2 ub ub-img ub-ac ub-pc" >
	     	<div class="box3" id="order_route">100</div>
	     </div>
	     <span class="f3">%</span>  -->
	     
	     <div id="chart3" style="height:1.73rem;"></div>
	   </div>
	</div>
	
	<div class="ub chart ub-ver" id="chart1" style="height:4rem;"  >
		
	</div>
	
	<div class="ub chart" style="height:3.08rem;" id="chart2" >
	</div>
</div>