<div class="main ubt ubc" id="common">
   <ul>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver" ><span class="ub ub-img1 icon01" ></span>
     <p class="p1">待办工单</p></li>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon02" ></span>
     <p class="p1">已办工单</p></li>
   </ul> 
   <ul>
     <li class="gz-ilist2 ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon03" ></span>
     <p class="p1">待阅工单</p></li>
  </ul> 
   <ul>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon04" ></span>
     <p class="p1">已阅工单</p></li>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon06" ></span>
     <p class="p1">资源二维码</p></li>
   </ul> 
   <ul>
     <li class="gz-ilist2 ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon07" ></span>
     <p class="p1">常用联系人</p></li>
  </ul> 
  <ul>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon08" ></span>
     <p class="p1">我的记事本</p></li>
     <li class="gz-ilist ub ub-ac ub-pc ub-ver"><span class="ub ub-img1 icon-more" ></span>
     <p class="p1">&nbsp</p></li>
   </ul>
  
</div>