<div>
<div class="mytop">
   <div class="my-icon"><img src="biz/img/login/my.png"></div>
   <table  width="100%">
  <tr>
    <td class="td1" id="username">姓名：</td>
    <td class="td1" id="staffId">工号：</td>
  </tr>
  <tr>
    <td class="td2" id="phone">电话：(接口未返回) </td>
    <td class="td2" id="areaName">归属组：</td>
  </tr>
  <tr>
    <td class="td2" id="departName" colspan="2">归属部门：</td>
  </tr>
</table>
    </div>
<div class="nav" id="setuser">
       <div class="left">
         <div class="left1"><img src="biz/img/login/icon_login1.png" /></div>
         <div class="left2">修改用户信息</div>
       </div>
       <div class="right">&gt;</div> 
  </div>
<div class="nav" id="setpwd">
       <div class="left">
         <div class="left1"><img src="biz/img/login/icon_login2.png" /></div>
         <div class="left2">修改密码</div>
       </div>
       <div class="right">&gt;</div> 
  </div>
<div class="nav" id="setxx">
       <div class="left">
         <div class="left1"><img src="biz/img/login/icon_wo.png" /></div>
         <div class="left2">修改用户信息</div>
       </div>
       <div class="right">&gt;</div> 
  </div>
 <div class="btn">
 <center>
  <input name="按钮" type="button" class="button1" id="signout" value="退出登录" />
  </center>
</div>
</div>