<ul id="plugin-menu">
	<li action="WmTabbarSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmTabbarSrc</div>
	</li>
	<li action="WmNavBarSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmNavBarSrc</div>
	</li>
	<li action="WmTabSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmTabSrc</div>
	</li>
	<li action="WmSliderSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmSliderSrc</div>
	</li>
	<li action="WmDropmenuSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmDropmenuSrc</div>
	</li>
	<li action="WmSwitchSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmSwitchSrc</div>
	</li>
	<li action="WmDialogSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmDialogSrc</div>
	</li>
	<li action="WmToolTipSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmToolTipSrc</div>
	</li>
	<li action="WmProgressSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmProgressSrc</div>
	</li>
	<li action="WmSlidingmenuSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmSlidingmenuSrc</div>
	</li>
	<li action="WmSegmentSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmSegmentSrc</div>
	</li>
	<li action="WmFlipSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmFlipSrc</div>
	</li>
	<li action="WmRangeSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmRangeSrc</div>
	</li>
	<li action="WmRefreshSrc">
		<div class="pic"><span class="e_ico-conect"></span></div>
		<div class="text">WmRefreshSrc</div>
	</li>
</ul>
