<!DOCTYPE HTML>
<html class="s_bs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>form组件</title>
	{%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/ui/ui.js"></script>
</head>
<body>

<div class="c_navBar">
	<div class="left">
		<div class="back">
			<span class="e_ico-back"></span>
			<span class="text">表单元素</span>
		</div>
	</div>
</div>

<div class="m_content m_content-nofooter" id="content">
<div>
	<div class="c_title">输入</div>
	<div class="c_list">
		<ul>
			<li tapfor="input-text">
				<div class="content">
					<div class="label">输入框</div>
					<div class="value"><input type="text" placeholder="请输入文字" id="input-text"/></div>
				</div>
			</li>
			<li tapfor="input-search">
				<label class="content">
					<div class="label">搜索框</div>
					<div class="value"><input type="text" placeholder="名称/编号" id="input-search"/></div>
				</label>
			</li>
			<li tapfor="input-textarea">
				<label class="content content-vertical">
					<div class="label">文本域</div>
					<div class="value">
						<textarea placeholder="请输入文字" style="height:0.5rem;" id="input-textarea"></textarea>
					</div>
				</label>
			</li>
		</ul>
	</div>
	<div class="c_title">切换</div>
	<div class="c_list">
		<ul>
			<li>
				<div class="content">
					<div class="label">开关</div>
					<div class="value">
						<span class="e_switch e_switch-on" id="switch">
							<span class="e_switchOn">On</span>
							<span class="e_switchOff">Off</span>
							<span class="e_switchBar"></span>
						</span>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="content">
					<div class="label">分段器</div>
					<div class="value">
						<span class="e_segment" style="width:2rem;">
							<span class="e_segmentWrapper" id="segment">
								<span class="e_segmentLi e_segmentOn">按周</span>
								<span class="e_segmentLi">按月</span>
								<span class="e_segmentLi">按年</span>
							</span>
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="c_title">调节</div>
	<div class="c_list">
		<ul>
			<li tapfor="input-range">
				<div class="content">
					<div class="label">百分比调节</div>
					<div class="value">
						<input type="range" value="28.5" id="input-range"/>
						28.5%
					</div>
				</div>
			</li>
			<li>
				<div class="e_flip e_flip-noprice">
					<div class="e_flipDesc">
						<div class="e_flipTitle">数值调节</div>
					</div>
					<div class="e_flipReduce"></div>
					<div class="e_flipValue" style="width:0.5rem;">
						<span class="e_flipSymbol">&times;</span>
						<span class="e_flipCount">0</span>
						<input class="e_flipInput" type="text" value="0" />
					</div>
					<div class="e_flipAdd" ontap=";"></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="c_title">选择</div>
	<div class="c_list">
		<ul>
			<li ontap=";">
				<div class="content">
					<div class="label">单选</div>
					<div class="value"><span class="e_placeholder">请选择</span></div>
					<div class="more"></div>
				</div>
			</li>
			<li>
				<div class="content">
					<div class="main">复选</div>
					<label class="fn" ontap=";"><input type="checkbox" /></label>
				</div>
			</li>
			<li ontap=";">
				<label class="content">
					<div class="label">日期</div>
					<div class="value"><input type="date" /></div>
				</label>
			</li>
		</ul>
	</div>
</div>
</div>

</body>
</html>
