<!DOCTYPE HTML>
<html class="s_bs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>picList组件</title>
	{%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/ui/ui.js"></script>
</head>
<body>

<div class="c_navBar">
	<div class="left">
		<div class="back">
			<span class="e_ico-back"></span>
			<span class="text">图片列表</span>
		</div>
	</div>
</div>

<div class="m_content m_content-nofooter" id="content">
	<div class="c_picList l_mt">
		<ul id="picList">
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product1.jpg" />
						<div class="price pirce-sp">￥599</div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">布伊格2014秋装新款潮 韩版气质时尚连衣裙 早秋两件套女套装裙子</div>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product2.jpg" />
						<div class="price">￥799</div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">2014夏装新款韩版女装性感透视挂脖露肩露背雪纺连衣裙甜美短裙子</div>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product3.jpg" />
						<div class="price">￥599</div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">红念 棉麻秋冬半身长裙2014秋装新款女半身裙子A字百褶裙大码女装</div>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product4.jpg" />
						<div class="price price-no"></div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">朵以2014秋装新款秋裙CCDD专柜正品秋水伊人长袖气质秋天连衣裙子</div>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product5.jpg" />
						<div class="price">￥199</div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">2014秋冬新款女装大码毛呢裙子 韩版修身淑女长袖打底毛呢连衣裙</div>
					</div>
				</div>
			</li>
			<li ontap=";">
				<div class="wrapper">
					<div class="pic">
						<img src="biz/img/temp/product6.jpg" />
						<div class="price">￥76</div>
					</div>
					<div class="text" style="height:0.95rem;">
						<div class="title e_size-s">大码女装裙子2014连衣裙秋季长袖新款小清新韩版韩国气质显瘦③⑦</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>