<!DOCTYPE HTML>
<html class="s_bs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>tab组件</title>
	{%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/ui/ui.js"></script>
</head>
<body>

<div class="c_navBar">
	<div class="left">
		<div class="back">
			<span class="e_ico-back"></span>
			<span class="text">分页标签</span>
		</div>
	</div>
</div>

<div class="m_content m_content-nofooter" id="content">
<div>
	<div class="c_title">普通分页标签</div>
	<div class="c_tab">
		<div class="title" id="fixed">
			<ul id="tabTab">
				<li class="on">元定律</li>
				<li>零定律</li>
				<li>第一定律</li>
			</ul>
		</div>
	</div>
	<div class="c_box l_ct">
		<div class="l_pagesWrapper">
			<div class="l_page l_page-3" id="tabPage">
				<div>
					<div class="c_article c_article-noborder">
						机器人不得实施行为，除非该行为符合机器人定律。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						机器人不得伤害人类整体，或者坐视人类整体受到伤害。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						除非违反高阶定律，机器人不得伤害人类个体，或者坐视人类个体受到伤害。
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c_title">带说明的分页标签</div>
	<div class="c_tab">
		<div class="title" id="tabTitle">
			<ul>
				<li class="on">
					<div class="main">本月</div>
					<div class="sub">2014-11</div>
				</li>
				<li>
					<div class="main">上月</div>
					<div class="sub">2014-10</div>
				</li>
				<li>2014-09</li>
			</ul>
		</div>
	</div>
	<div class="c_box l_ct">
		<div class="l_pagesWrapper">
			<div class="l_page l_page-3" id="tabPage">
				<div>
					<div class="c_article c_article-noborder">
						机器人不得实施行为，除非该行为符合机器人定律。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						机器人不得伤害人类整体，或者坐视人类整体受到伤害。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						除非违反高阶定律，机器人不得伤害人类个体，或者坐视人类个体受到伤害。
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c_title">特殊品牌分页标签</div>
	<div class="c_brandTab">
		<div class="tab">
			<ul>
				<li class="on gotone" id="brandGotone"><span class="e_brandIco e_brandIco-gotone"></span></li>
				<li class="easyown" id="brandEasyown"><span class="e_brandIco e_brandIco-easyown"></span></li>
				<li class="mzone" id="brandMzone"><span class="e_brandIco e_brandIco-mzone"></span></li>
			</ul>
		</div>
	</div>
	<div class="c_box l_ct">
		<div class="l_pagesWrapper">
			<div class="l_page l_page-3" id="tabPage">
				<div>
					<div class="c_article c_article-noborder">
						机器人不得实施行为，除非该行为符合机器人定律。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						机器人不得伤害人类整体，或者坐视人类整体受到伤害。
					</div>
				</div>
				<div>
					<div class="c_article c_article-noborder">
						除非违反高阶定律，机器人不得伤害人类个体，或者坐视人类个体受到伤害。
					</div>
				</div>
			</div>
		</div>
	</div>
<div>
</div>
</body>
</html>