<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>WM-Slider演示</title>
	{%>template/common/Head.html%}
</head>
<body>
<div class="c_navBar">
	<div class="left">
		<div class="back">
			<span class="e_ico-back"></span>
			<span class="text">WmSliderSrc</span>
		</div>
	</div>
</div>
<div>
	有待实现	
</div>
</body>
<script type="text/javascript" src="biz/js/tag/WmSlider.js"></script>

</html>