<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>WM-Tab演示</title>
	{%>template/common/Head.html%}
</head>
<body>

<div class="c_navBar">
	<div class="back">
		<span class="e_ico-back"></span>
		<div class="text">WmTabSrc</div>
	</div>
</div>

<div class="m_content" id="content">
	<div class="e_space"></div>
	<div class="c_tab" id="tab1">
		<div class="title">
			<ul>
				<li class="on">热门活动</li>
				<li>全部活动</li>
			</ul>
		</div>
		<div class="pages">
			<div class="page">
				<div class="c_list">
					<ul>
						<li>
							<div class="content">
								<div class="main">2014重要客户4G上网设备免预存赠送活动</div>
								<div class="side">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="page">
				<div class="c_list">
					<ul>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
						<li>
							<div class="content">
								<div class="main">预存营销</div>
								<div class="more"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
require(["wmTab"],function(WmTab) {
  	var wmTab = new WmTab("tab1");
  	wmTab.create();
});
</script>
</body>
</html>