<!DOCTYPE HTML>
<html class="s_bs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>导航</title>
	{%>template/common/Head.html%}
	<script type="text/javascript" src="biz/js/oss/if/test1.js"></script>
	<link href="biz/css/project.css" rel="stylesheet" type="text/css" />
	<link href="res/css/ui-base.css" rel="stylesheet" type="text/css" />
	<link href="res/css/ui-box.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
<div class="c_navBar">
	<div class="center">
		<div class="logo">
			<span class="text">展示平台</span>
		</div>
	</div>
</div>
<div class="m_content m_content-nofooter" id="content">
	<div class="c_title">通讯</div>
	<div class="c_submit">
		<ul>
			<li><button class="e_button-ok" id="callIf">测试callIf</button></li>
			<li><button class="e_button-cancel" id="openPageIf">测试openPageIf</button></li>
		</ul>
		<ul>
			<li><button class="e_button-ok" id="yubaPush">云巴推送</button></li>
			<li><button class="e_button-cancel" id="openUrl">openUrl</button></li>
		</ul>
	</div>
	
</div>

</body>
</html>