.uc-tl {
    -webkit-border-top-left-radius: 0.144rem;
    border-top-left-radius: 0.144rem
}

.uc-tr {
    -webkit-border-top-right-radius: 0.144rem;
    border-top-right-radius: 0.144rem
}

.uc-bl {
    -webkit-border-bottom-left-radius: 0.144rem;
    border-bottom-left-radius: 0.144rem
}

.uc-br {
    -webkit-border-bottom-right-radius: 0.144rem;
    border-bottom-right-radius: 0.144rem
}

.uc-t {
    -webkit-border-top-left-radius: 0.144rem;
    border-top-left-radius: 0.144rem;
    -webkit-border-top-right-radius: 0.144rem;
    border-top-right-radius: 0.144rem
}

.uc-b {
    -webkit-border-bottom-left-radius: 0.144rem;
    border-bottom-left-radius: 0.144rem;
    -webkit-border-bottom-right-radius: 0.144rem;
    border-bottom-right-radius: 0.144rem
}

.uc-r {
    -webkit-border-top-right-radius: 0.144rem;
    border-top-right-radius: 0.144rem;
    -webkit-border-bottom-right-radius: 0.144rem;
    border-bottom-right-radius: 0.144rem
}

.uc-l {
    -webkit-border-top-left-radius: 0.144rem;
    border-top-left-radius: 0.144rem;
    -webkit-border-bottom-left-radius: 0.144rem;
    border-bottom-left-radius: 0.144rem
}

.uc-a {
    -webkit-border-radius: 0.144rem;
    border-radius: 0.144rem
}

.uc-n {
    -webkit-border-radius: 0;
    border-radius: 0
}

.uc-tl1 {
    -webkit-border-top-left-radius: 0.072rem;
    border-top-left-radius: 0.072rem
}

.uc-tr1 {
    -webkit-border-top-right-radius: 0.072rem;
    border-top-right-radius: 0.072rem
}

.uc-bl1 {
    -webkit-border-bottom-left-radius: 0.072rem;
    border-bottom-left-radius: 0.072rem
}

.uc-br1 {
    -webkit-border-bottom-right-radius: 0.072rem;
    border-bottom-right-radius: 0.072rem
}

.uc-t1 {
    -webkit-border-top-left-radius: 0.072rem;
    border-top-left-radius: 0.072rem;
    -webkit-border-top-right-radius: 0.072rem;
    border-top-right-radius: 0.072rem
}

.uc-b1 {
    -webkit-border-bottom-left-radius: 0.072rem;
    border-bottom-left-radius: 0.072rem;
    -webkit-border-bottom-right-radius: 0.072rem;
    border-bottom-right-radius: 0.072rem
}

.uc-r1 {
    -webkit-border-top-right-radius: 0.072rem;
    border-top-right-radius: 0.072rem;
    -webkit-border-bottom-right-radius: 0.072rem;
    border-bottom-right-radius: 0.072rem
}

.uc-l1 {
    -webkit-border-top-left-radius: 0.072rem;
    border-top-left-radius: 0.072rem;
    -webkit-border-bottom-left-radius: 0.072rem;
    border-bottom-left-radius: 0.072rem
}

.uc-a1 {
    -webkit-border-radius: 0.072rem;
    border-radius: 0.072rem
}
.uc-a3 {
    -webkit-border-radius: 0.096rem;
    border-radius: 0.096rem
}
.uc-a2 {
    -webkit-border-radius: 0.288rem;
    border-radius: 0.288rem
}
.uc-tl, .uc-tr, .uc-bl, .uc-br, .uc-t, .uc-b, .uc-r, .uc-l, .uc-a, .uc-n, .uc-tl1, .uc-tr1, .uc-bl1, .uc-br1, .uc-t1, .uc-b1, .uc-r1, .uc-l1, .uc-a1, .uc-a2,     , .uc-a3 {
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.us {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
.us1 {
    -webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
    box-shadow: 0 1px 4px rgba(120, 120, 120, .3)
}
.us-i {
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4)
}

.uts {
    text-shadow: 0px 2px 2px #000;
}

.um, .um body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica;
}

.um-vp {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none
}

.um-vp .up {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    border: 0
}

.uh, .uf {
    display: block;
    width: 100%;
    font-size: 0.24rem;
}

.up .uh, .up .uf, .pos_re {
    position: relative
}

.uh .ut, .uf .ut {
    padding: 0.172rem 0.24rem 0.172rem;
    margin: 0;
}

.ufl {
    float: left !important;
}
.ufr {
    float: right !important;
}

.ulev2 {
    font-size: 0.36rem !important;
}

.ulev1 {
    font-size: 0.288rem !important;
}

.ulev0 {
    font-size: 0.24rem !important;
}

.ulev-1 {
    font-size: 0.15rem !important;
}

.ulev-2 {
    font-size: 0.195rem !important;
}
.ulev-3 {
    font-size: 0.255rem !important;
}
.ulim {
    max-width: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.uinl {
    display: inline-block;
    position: relative;
}

.uinn {
    padding: 0.12rem;
    margin: 0;
}
.uinn1 {
    padding: 0 0.12rem;
    margin: 0;
}
.uinn2 {
    padding: 0.12rem 0.24rem;
    margin: 0;
}
.uinn3 {
    padding: 0.048rem;
    margin: 0;
}
.uinn4 {
    padding: 0 0.048rem;
    margin: 0;
}
.uinn5 {
    padding: 0.18rem 0.12rem;
    margin: 0;
}
.uinn7 {
    padding: 0.158rem 0.375em;
    margin: 0;
}
.umh1 {
    min-height: 0.24rem;
}

.umh2 {
    min-height: 0.288rem;
}

.umh3 {
    min-height: 0.36rem;
}

.umh4 {
    min-height: 0.48rem;
}
.umh5 {
    min-height: 0.72rem;
}
.umh6 {
    min-height: 0.96rem;
}
.umh7 {
    min-height: 0.432rem;
}
.umw1 {
    min-width: 0.24rem;
}
.umw1-5 {
    min-width: 0.36rem;
}

.umw2 {
    min-width: 0.48rem;
}

.umw3 {
    min-width: 0.72rem;
}

.umw4 {
    min-width: 0.96rem;
}

.tx-l {
    text-align: left;
}
.tx-r {
    text-align: right;
}
.tx-c {
    text-align: center;
}

.ut-s {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    outline: 0 !important
}

.ut-m {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal !important;
    outline: 0 !important
}

.uba {
    border: 1px solid;
}
.uba1 {
    border: 2px solid;
}
.uba2 {
    border: 3px solid;
}

.ubt {
    border-top: 1px solid;
}
.ubb {
    border-bottom: 1px solid;
}

.ubc{
	border-color: #dddddd;
}

.ubl {
    border-left: 1px solid;
}
.ubl1 {
    border-left: 2px solid;
}

.ubr {
    border-right: 1px solid;
}
.ubr2 {
    border-right: 2px solid;
}

.uhide {
    display: none !important;
}

.umar-b {
    margin-bottom: 0.096rem;
}
.umar-t {
    margin-top: 0.096rem;
}
.umar-l {
    margin-left: 0.096rem;
}
.umar-r {
    margin-right: 0.096rem;
}
.umar-a {
    margin: 0.096rem;
}

.uof {
    overflow: hidden;
}
.uof-x {
    overflow-x: hidden;
}
.uof-y {
    overflow-y: hidden;
}

.uabs {
    position: absolute;
    left: 0;
    top: 0;
}

.uabs-r {
    position: absolute;
    right: 0;
    top: 0;
}

.utra {
    -webkit-transition: all 300ms ease-in 100ms
}
.line1 {
    -webkit-line-clamp: 1;
}
.line2 {
    -webkit-line-clamp: 2;
}

.line3 {
    -webkit-line-clamp: 3;
}

.ani-act {
    transform: scale(0.95,0.97);
    -webkit-transform: scale(0.95,0.97);
    -webkit-transition-duration: 300ms;
    opacity: .7;
}

.uh_ios7 .uh {
    padding: 0.24rem 0 0;
}
